
:root {
    --grey: #edeef0;
    --border: #cbccce;
    --break: 500px;
}


/* Styles for scoreboard */
.scoreboard.scoreboardtt{
    grid-template-columns: minmax(8rem, 1fr) 0rem !important;
}
.scoreboard {
    border: 1px solid var(--border);
    background: #fff;
    display: grid;
    /* grid-template-rows: 2rem minmax(3rem, 1fr) minmax(3rem, 1fr) 2rem; */
    grid-template-columns: minmax(8rem, 1fr) 6rem;
    overflow: hidden;
}
.scoreboard{
    max-width: 100%;
    width: 600px;
}

@media only screen and (min-width: var(--break)) {
    .scoreboard {
        grid-template-columns: minmax(8rem, 1fr) repeat(4, 2rem) 6rem;
    }
}

/* Styles for title */
.scoreboard .title {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid var(--border);
    padding: 0 1rem;
    text-transform: uppercase;
    color: #000; /*darken(var(--border), 30)*/
    /* font-size: .9rem; */
}

@media only screen and (min-width: var(--break)) {
    .scoreboard .title {
        grid-column: 0 / span 2;
    }
}

/* Styles for quarters */
.scoreboard .quaters {
    /* display: none; */
    display: flex;
    justify-content: end;
}
/* .quaters span{
    padding: 0 35px;
} */
@media only screen and (min-width:768px) {
    .quaters span{
        padding: 0 35px;
    }
}
@media only screen and (max-width:768px) {
    .quaters span{
        padding: 0 10px;
    }
}

@media only screen and (min-width: var(--break)) {
    .scoreboard .quaters {
        display: block;
        grid-column: 2 / span 4;
        grid-row: 1 / span 1;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid var(--border);
    }

    .scoreboard .quaters span {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #7b7d7e; /*darken(var(--border), 45)*/
        /* font-size: .9rem; */
    }
}

/* Styles for total */
.scoreboard .total {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    border-bottom: 1px solid var(--border);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;
    color: #000; /*darken(var(--border), 45)*/
    font-weight: 600;
    font-size: 2rem;
}

@media only screen and (min-width: var(--break)) {
    .scoreboard .total {
        grid-column: 6 / span 1;
    }
}

/* Styles for team */
.scoreboard .team {
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: row;
    padding: .5rem 0 1rem;
    justify-content: space-between;
    align-items: baseline;
}

@media only screen and (min-width: var(--break)) {
    .scoreboard .team {
        grid-column: 1 / span 6;
    }
}

.scoreboard .team.winner .team__total,
.scoreboard .team.winner .team__details--name,
.scoreboard .team.winner .team__score {
    color: #7b7d7e; /*darken(var(--grey), 50)*/
}

.scoreboard .team.winner .team__total:after {
    content: '';
    position: absolute;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #7b7d7e transparent transparent; /*transparent darken(var(--grey), 50) transparent transparent;*/
}
.scoreboard .team__details.team_details_tt{
    grid-template-columns: 0 !important;
    padding-right: 0rem !important;
}
.scoreboard .team__details {
    padding: 0 1rem;
    padding-right: 2rem;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 4rem 1fr;
}
@media only screen and (min-width: 768px) {
    .scoreboard .team__details {
        padding: 0 1rem;
        padding-right: 8rem !important;
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 4rem 1fr;
    }
}

@media only screen and (min-width: var(--break)) {
    .scoreboard .team__details {
        padding-right: 4rem;
    }
}

.scoreboard .team__details--logo {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;

    img {
        max-width: 100%;
    }
}

.scoreboard .team__details--name {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    padding: .5rem 0;
    padding-left: 1rem;
    font-weight: 700;
    color: #7b7d7e; /*darken(var(--grey), 30)*/
}

.scoreboard .team__details--standings {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    padding-left: 1rem;
    color: #000; /*darken(var(--grey), 20)*/
    font-size: 15px;
}

.scoreboard .team__score {
    /* display: none; */
    padding: 0 5px;
}

@media only screen and (min-width: var(--break)) {
    .scoreboard .team__score {
        display: block;
        width: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .8rem;
        color: #b0b1b2; /*darken(var(--grey), 30)*/
    }
}

.scoreboard .team__total {
    position: relative;
    width: 6rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;
    font-size: 2rem;
    font-weight: 900;
    color: #b0b1b2; /*darken(var(--grey), 30)*/
}

/* Styles for note */
.scoreboard .note {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1rem;
    color: #000; /*darken(var(--grey), 20)*/
    font-size: 13px;
    border-top: 1px solid var(--border);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (min-width: var(--break)) {
    .scoreboard .note {
        grid-column: 1 / span 6;
    }
}